*{
    margin: 5px 0;
}
.wrapper{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    max-width: 1300px;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    
}
        /*шапка сайта*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 70px;
}
.logo-name{
    display: flex;
    width: 30%;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-between;
}
.name{
    padding-left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.photographer{
    color: rgb(189, 189, 189);
    font-size: 1.2rem;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav{
    word-spacing: 15px;
}
/* footer*/
footer{
    height: 80px;
    margin-left: 150px;
    color: rgb(189, 189, 189);
    font-size: 15px;
}
/* основной контент*/
h1{
    color: rgb(189, 189, 189);
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.my_foto{
    width: 290px;
    box-shadow: 0 0 15px 8px white;
    margin-right: 30px;
}
.about{
    display: flex;
}
.danil{
    width: 33.33%;
    color: rgb(189, 189, 189);
    font-weight: 200;
    font-size: 15px;
}
.danil p {
    margin-top: 15px;
}
.danil p:nth-child(1){
color: white;
font-weight: 600;
font-size: 18px;
}
.experience{
    width: 33.33%;
    color: rgb(189, 189, 189);
    font-weight: 200;
    font-size: 15px;
}
li{
    margin-top: 12px;
}
/* последние работі*/
.row_1{
    display: flex; 
    justify-content: space-around;
    margin-bottom: 15px;
}
.row_1 img{
    width: 290px;
}
.item1{
    position: relative;
}
.text1{
    visibility: hidden;
    position: absolute;
    width: 220px;
    margin-left: 40px;
    margin-top: -200px;
    padding-top: 20px;
    height: 80px;
    background-color: ivory;
    opacity: 0.5;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.text2{
    visibility: hidden;
    position: absolute;
    width: 280px;
    margin-left: 40px;
    margin-top: -200px;
    padding-top: 20px;
    height: 80px;
    background-color: ivory;
    opacity: 0.5;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.text3{
    visibility: hidden;
    position: absolute;
    width: 450px;
    margin-left: 40px;
    margin-top: -200px;
    padding-top: 20px;
    height: 80px;
    background-color: ivory;
    opacity: 0.5;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.item1:hover {
    transform: scale(1.05);
    transition: 1s;
}
.item1:hover .text1{
    visibility: visible;
    transition: 1.5s;
    transform:translatey(-160px);
}
.item2:hover {
    transform: scale(1.05);
    transition: 1s;
}
.item2:hover .text1{
    visibility: visible;
    transition: 1.5s;
    transform:translatey(-160px);
}
.item3:hover {
    transform: scale(1.05);
    transition: 1s;
}
.item3:hover .text1{
    visibility: visible;
    transition: 1.5s;
    transform:translatey(-160px);
}
.item4:hover {
    transform: scale(1.05);
    transition: 1s;
}
.item4:hover .text2{
    visibility: visible;
    transition: 1.5s;
    transform:translatey(-100px);
}
.item5:hover {
    transform: scale(1.05);
    transition: 1s;
}
.item5:hover .text2{
    visibility: visible;
    transition: 1.5s;
    transform:translatey(-100px);
}
.item6:hover {
    transform: scale(1.05);
    transition: 1s;
}
.item6:hover .text3{
    visibility: visible;
    transition: 1.5s;
    transform:translatey(-100px);
}
.row_2{
    display: flex; 
    justify-content: space-around;
    margin-bottom: 15px;
}
.row_2 img{
    width: 450px;
}
.row_3{
    display: flex; 
    justify-content: space-around;
}
.row_3 img{
    width: 930px;
}
.works img{
    box-shadow: 0 0 0 5px white;
    transition: 0.6s ease-out;
}



.insta{
    display: flex;
    justify-content: space-around;
}
.insta img{
    width: 130px;
    height: 130px;
    box-shadow: 0 0 0 5px white;
}
.content{
    margin-bottom: 40px;
}